AZURE_TENANT_ID=<tenant-id>
AZURE_SUBSCRIPTION_ID=<subscription-id>
AZURE_RESOURCE_GROUP=<resource-group>
AZURE_LOCATION_PRIMARY=centralus
AZURE_LOCATION_SECONDARY=northcentralus
DEMO_PREFIX=<unique-prefix>
DEMO_APP_NAME=fd-tm-demo
DEPLOY_AKS=true
